browser-cookie3
beautifulsoup4
selenium
Appium-Python-Client
webdriver_manager
uiautomator2
chromedriver_autoinstaller
edgedriver_autoinstaller
google_api_python_client
google_auth_oauthlib
opencv_python
imutils
scikit-image
pandas
pynput
ffmpeg_quality_metrics
pyautogui
pywinauto
pyaudio
pymediainfo
pytest
pygsheets